VIF/src/main/webapp/wsdl/KPPBH_VAS_ITT.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://ws.api.share.neo" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ws.api.share.neo">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ws.api.share.neo">
            <xs:element name="sendMessage">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="partnerMsisdn" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="who_send" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="isService" type="xs:boolean"/>
                        <xs:element minOccurs="0" name="serviceId" type="xs:int"/>
                        <xs:element minOccurs="0" name="packCode" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="contentId" type="xs:int"/>
                        <xs:element minOccurs="0" name="receiver" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="content" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="channel" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="sendMessageResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="sendMessageRequest">
        <wsdl:part name="parameters" element="ns:sendMessage"/>
    </wsdl:message>
    <wsdl:message name="sendMessageResponse">
        <wsdl:part name="parameters" element="ns:sendMessageResponse"/>
    </wsdl:message>
    <wsdl:portType name="pAPIPortType">
        <wsdl:operation name="sendMessage">
            <wsdl:input message="ns:sendMessageRequest" wsaw:Action="urn:sendMessage"/>
            <wsdl:output message="ns:sendMessageResponse" wsaw:Action="urn:sendMessageResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="pAPISoap11Binding" type="ns:pAPIPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="sendMessage">
            <soap:operation soapAction="urn:sendMessage" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="pAPISoap12Binding" type="ns:pAPIPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="sendMessage">
            <soap12:operation soapAction="urn:sendMessage" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="pAPIHttpBinding" type="ns:pAPIPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="sendMessage">
            <http:operation location="sendMessage"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="pAPI">
        <wsdl:port name="pAPIHttpSoap11Endpoint" binding="ns:pAPISoap11Binding">
            <soap:address location="http://10.151.99.160:8088/KPPBH_VAS"/>
        </wsdl:port>
        <wsdl:port name="pAPIHttpSoap12Endpoint" binding="ns:pAPISoap12Binding">
            <soap12:address location="http://10.151.99.160:8088/KPPBH_VAS"/>
        </wsdl:port>
        <wsdl:port name="pAPIHttpEndpoint" binding="ns:pAPIHttpBinding">
            <http:address location="http://10.151.99.160:8088/KPPBH_VAS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
