VIF/src/main/webapp/wsdl/webservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://services.webservices.salesmgt.itt.vn" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://services.webservices.salesmgt.itt.vn" xmlns:intf="http://services.webservices.salesmgt.itt.vn" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://services.webservices.salesmgt.itt.vn" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sendResponse">
    <complexType>
     <sequence>
      <element name="transId" type="xsd:string"/>
      <element name="status" type="xsd:string"/>
      <element name="response" type="xsd:string"/>
      <element name="time" type="xsd:string"/>
      <element name="commission" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendResponseResponse">
    <complexType>
     <sequence>
      <element name="sendResponseReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendResponseRequest">

      <wsdl:part element="impl:sendResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendResponseResponse">

      <wsdl:part element="impl:sendResponseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="webservice">

      <wsdl:operation name="sendResponse">

         <wsdl:input message="impl:sendResponseRequest" name="sendResponseRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendResponseResponse" name="sendResponseResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="webserviceSoapBinding" type="impl:webservice">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendResponse">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendResponseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendResponseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="webserviceService">

      <wsdl:port binding="impl:webserviceSoapBinding" name="webservice">

         <wsdlsoap:address location="http://localhost:8080/salesmgt/services/webservice"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
